<div id="forgot-password">

      <div id="forgot-password-intro">
  
            <div class="logo" [@animate]="{value:'*',params:{scale:'0.1'}}">
                  <a *ngIf="commonTenant" class="techademy">
                      Techademy
                  </a>
                  <a *ngIf="ismosaiclti" class="lti-mosaic">
                      Mosaic LTI
                  </a>
                  <a *ngIf="isTataCommunication" class="tata-communication">
                      Tata Communication
                  </a>
                  <a *ngIf="isQuinnox" class="quinnox">
                      Quinnox
                  </a>
                  <a *ngIf="isIbm || isIbmAssociates" class="ibm">
                      IBM
                  </a>
                  <a *ngIf="isHpe" class="hpe">
                      HPE
                  </a>
                  <a *ngIf="isXoriant" class="xoriant">
                      Xoriant
                  </a> 
              </div>
  
          <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Learn Here! Lead Anywhere!
          </div>
  
          <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Leverage the technology skills platform that helps you move faster, put the right people on the right projects and boost efficiency.
          </div>
  
      </div>
  
      <div id="forgot-password-form-wrapper"
           [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">
  
          <div id="forgot-password-form">
  
            <div class="logo">
                  <a *ngIf="commonTenant" class="techademy">
                      Techademy
                  </a>
                  <a *ngIf="ismosaiclti" class="lti-mosaic">
                      Mosaic LTI
                  </a>
                  <a *ngIf="isTataCommunication" class="tata-communication">
                      Tata Communication
                  </a>
                  <a *ngIf="isQuinnox" class="quinnox">
                      Quinnox
                  </a>
                  <a *ngIf="isIbm || isIbmAssociates" class="ibm">
                      IBM
                  </a>
                  <a *ngIf="isHpe" class="hpe">
                      HPE
                  </a>
                  <a *ngIf="isXoriant" class="xoriant">
                      Xoriant
                  </a> 
            </div>
  
              <div class="title">RECOVER YOUR PASSWORD</div>
  
              <form name="forgoPasswordForm" novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="forgotPassword()">
  
                  <mat-form-field appearance="outline">
                      <mat-label>Email</mat-label>
                      <input matInput [(ngModel)]="forgotPasswordDto.userName"
                      placeholder="Enter Username" autocomplete="off" required maxlength="255"
                      name="userNameOrEmailAddress">
                      <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                  </mat-form-field>
  
                  <button mat-raised-button class="submit-button" [disabled]="!loginForm.form.valid && submitting">
                      SEND RESET LINK
                  </button>
  
              </form>
  
              <div class="login text-center">
                  <a class="link cursor-pointer" (click)="goBackToLogin()">Go back to Login</a>
              </div>
  
          </div>
      </div>
  </div>





<!-- <div class="popup-header">
      <h3>Forgot Password</h3>
      <button mat-icon-button [mat-dialog-close]="true" class="float-right popup-close">
            <mat-icon matTooltip="Close">close</mat-icon>
      </button>
</div>
<div class="popup-content">
      <form class="form" novalidate autocomplete="off" #loginForm="ngForm" (ngSubmit)="forgotPassword()">
            <div class="row">
                  <div class="col-12">
                        <mat-form-field>
                              <input matInput type="text" [(ngModel)]="forgotPasswordDto.userName"
                                    placeholder="Enter Username" autocomplete="off" required maxlength="255"
                                    name="userNameOrEmailAddress">
                        </mat-form-field>
                  </div>
                  <div class="col-12 btn-border mt-3 pt-3 text-right">
                        <button mat-flat-button type="submit" class="buttons primary-btn mr-4" [disabled]="!loginForm.form.valid && submitting">
                              Submit
                        </button>
                        <button mat-flat-button type="button" class="buttons secondary-btn" [mat-dialog-close]="true">
                              cancel
                        </button>
                  </div>
            </div>
      </form>
</div> -->